/* Signin.css */

.login-container {
    display: flex;
    align-items: center;
    padding-top:50px;
    justify-content: space-evenly;
    width:100%;
  }
  
  .login-image {
    width:45%
  
  }
  
  .login-image img {
    width: 100%; /* Ensure the image fills the container */
    height: auto;
  }
  
  .login-content {
  width:450px;
    padding: 20px; /* Adjust padding as needed */
    background: linear-gradient(45deg, #ea8d8d85,  #a890fec7); /* Adjust colors and angle as needed */
    border-radius:6px;
    height:500px;
    justify-content:center;
     align-items:center;
     margin-right:40px;
    
  }
  .login-content h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:robotosans;
    color:#00345f;
    font-weight:bold;
    font-size:40px;
  }

/* Navbar.css */
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:#f3f6f9;
  color: white;
  height:50px;
  width:100%;
  position:relative;
}

.bar {
  position: relative;
}

.logo {
  width: 100%px;
  height: 30px;
  margin-right: 10px;
  
}

.logo2 {
  
  height: 55px;
  margin-right: 10px;
}


.heading {
  margin: 0;
  color:white;
  background-color:#00345f;
  height:150px;
  font-size:38px;
  align-items: center;
  font-family:robotosans;
  font-weight:bold;
  display: flex;
  justify-content: center;
}

#username {
  width:100%;
}



#password {
  width:100%;
}

  form input{
    border-radius:6px;
    margin-left:10px;
    width:100%
  }
  form label{
    font-size:20px;
  }